<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-info fw-bold mb-4">REGISTER</h5>
      <form>
        <div class="row">

          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">First Name<sup class="text-danger">*</sup></label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name">
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Last Name<sup class="text-danger">*</sup></label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Last Name">
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address<sup class="text-danger">*</sup></label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Phone No.<sup class="text-danger">*</sup></label>
              <input type="number" class="form-control" placeholder="Phone No.">
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Password<sup class="text-danger">*</sup></label>
              <input type="password" class="form-control" placeholder="Enter Password">
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Confirm Password<sup class="text-danger">*</sup></label>
              <input type="password" class="form-control" placeholder="Confirm Password">
            </div>
          </div>

        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>

        <button type="submit" class="btn btn-primary col-md-3 col-5">Submit</button>
      </form>

    </div>
  </div>
</div>
