<div class="container mt-5 mb-5">
  <div class="card">
    <div class="d-flex justify-content-between p-3">
      <div class="image">
        <h4 style="font-family:cursive;">Angular & Typescript Quiz!</h4>
        <!-- <img src="https://img.icons8.com/color/96/000000/angularjs.png" width="90" alt="logo"> -->
      </div>
      <div class="quiz-header">
        <span style="font-style:italic;">Welcome : {{name}}</span>
      </div>
    </div>

    <ng-container *ngIf="!isQuizCompleted">
      <div class="d-flex justify-content-around p-3">
        <div class="score">
          <h5>{{points}}</h5>
          <!-- <h5 class="mt-4 mb-0">Question 1 of 10</h5> -->
        </div>
        <div class="question-remain">
          <span style="font-family:italic">Question {{currentQuestion+1}} of {{questionList.length}}</span>
        </div>
        <div class="timer">
          <h5>{{counter}} seconds</h5>
        </div>
      </div>
      <div class="progress m-3">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{'width':progress+'%'}"
          aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="question p-3">
        <div class="card">
          <h4>{{questionList[currentQuestion]?.questionText}}</h4>
        </div>
      </div>
      <div class="option p-3">
        <ol *ngFor="let option of questionList[currentQuestion]?.options">
          <li (click)="answer(currentQuestion+1,option)">
            <div appChangeBg [isCorrect]="option.correct" class="card">
              {{option.text}}
            </div>
          </li>

        </ol>
      </div>
      <div class="d-flex justify-content-between p-3">
        <!-- <button [disabled]="currentQuestion==0" class="btn" (click)="previousQuestion()">
          <i class="far fa-chevron-left text-primary"></i> Previous
        </button> -->
        <button class="btn" (click)="resetQuiz()"><i class="far fa-sync-alt text-primary"></i></button>
        <button class="btn border" (click)="nextQuestion()">Next <i class="far fa-chevron-right text-primary"></i></button>
      </div>
    </ng-container>

    <ng-container *ngIf="isQuizCompleted">
      <div class="row d-flex justify-content-between p-4">
        <img style="width: 50%;" class="img-fluid col-sm-12 mx-auto" src="assets/congratulations.jpg">
        <div class="result col-md-6 col-sm-12">
          <h3>Congratulations!! You have completed the Quiz. <br>Below is your result:</h3>
          <p class="mt-3">Total Question Attempt: {{questionList.length}}</p>
          <p>Total Correct Answer: {{correctAnswer}}</p>
          <p>Total Wrong Answer: {{inCorrectAnswer}}</p>
          <p>Your Score: {{points}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
