<div class="container mt-5 mb-5">
  <div id="question-container" class="hide">
    <div id="question">
      <h3>1. <span>Question</span></h3>
    </div>
    <div id="answer-buttons" class="btn-grid">

      <div class="row mt-3">
        <div class="col-md-12 mb-3">
          <span><input type="radio"> Answer 2</span> &nbsp;
          <span><input type="radio"> Answer 2</span> &nbsp;
          <span><input type="radio"> Answer 2</span> &nbsp;
          <span><input type="radio"> Answer 2</span> &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
